<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h2>Creat your celebrity</h2>

<div id="big">


        <div class="new-celeb-form">

            <div>
                <label>Name</label>
                <input id="theNameAjax" type="text">
            </div>

            <div>
                <label>Occupation</label>
                <input id="occupationAjax" type="text">
            </div>

            <div>
                <label>Famouse Phrase</label>
                <input id="phraseAjax" type="text">
            </div>


            <button id="new-celeb-ajax">Submit new Celebrity</button>



        </div>


        <div>

            <ul id="celeba-list-ajax">

            </ul>

           
        </div>

</div>
