<h2>Creat your celebrity</h2>
<form action="/celebrities/create-new-celebrity" method="POST">
<label>Name</label>
<input name="theName" type="text">

<label>Occupation</label>
<input name="theOccupation" type="text">

<label>Famouse Phrase</label>
<input name="thePhrase" type="text">


<button>Save</button>
</form>
