{{!-- <h2>Signup</h2>



<label>Pick A Username</label>
<input type="text" name="theUsername">


<label>Password</label>
<input type="text" name="thePassword">



<button>Save</button> --}}

 <div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
    
<form action="/signup" method="POST">
    <input type="text" name="theUsername">
    <input type="text" name="thePassword">
    
    
    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
</form>
  
  {{!-- <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div> --}} 